.main-box{
    display:flex;
    flex-direction:column;
   
    margin:60px 350px 0px 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-title{
    text-align:center;
}

.inner-box{
    border:1px solid black;
    margin:20px;
    padding:20px;
  
}